.main_container {
    display: flex;
    justify-content: center;
    font-size: 18px;
    flex-flow: column;
}

.form_nav_link {
    text-decoration: none;
    align-self: center;
    margin:  5px 15px 15px;
    color: black;
}

.form_container {
    display: inline-grid;
    border: 0.5px solid darkslategray;
    background-color: darkkhaki;
    border-radius: 10px;
    padding: 30px;
}

.form_title {
    font-size: 30px;
    font-weight: 400;
    justify-self: center;
    margin: 0;
}

.form_container label {
    margin: 10px 0;
}

.save_button {
    margin-top: 15px
}

.custom_modal_message {
    color: green;
}