.nav_container { 
    padding: 10px 30px;
}

.nav_link {
    text-decoration: none;
    display: flex;
    align-items: anchor-center;
    gap: 30px;
}

.logo {
    width: 136px;
    height: 146px;
}

.title {
    font-size: 1.6em;
    margin: 0;
    color: rgb(23, 29, 29);
    font-family: "Manrope";
}